{% extends "base.html" %}

<!-- Подключение папки static -->
{% load static %}

<!-- Блок Заголовка -->
{% block title %}Выход{% endblock %}

<!-- Блок Контента -->
{% block body %}
<div class="container">
    <br>
    <h3>Выход из системы!</h3>

    <h5>Нажмите <a href="/login?next={{ request.path }}">сюда</a>, чтобы снова войти в систему.</h5>

<!--    отправляет заново на авторизацию-->
<!--    <h5>Нажмите <a href="{% url 'login' %}">сюда</a>, чтобы снова войти в систему.</h5>-->

<!--    после новой авторизации запускается главная "/"-->
<!--    <h5>Нажмите <a href="/login?next=/">сюда</a>, чтобы снова войти в систему.</h5>-->

</div>
{% endblock %}
