{% extends "base.html" %}
{% load static %}

{% block title %}Сброс пароля (New Password){% endblock %}

{% block body %}
<!-- Сброса пароля (форма 1) -->
<br>
<div class="container">
    {% if validlink %}
        <p>Пожалуйста, введите (и подтвердите) новый пароль.</p>
        <form method="post" action="">
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль: </label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль: </label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td><br><button type="submit" class="btn btn-primary btn-sm">Сменить пароль</button></td>
            </tr>
            </table>
        </form>
    {% else %}
        <h1>Не удалось сбросить пароль</h1>
        <h4>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</h4>
    {% endif %}
</div>
{% endblock %}

<!--URL: /accounts/reset/Mw/set-password/-->