{% extends "base.html" %}
{% load static %}
<!-- Блок Заголовка -->
{% block title %}Сброс пароля{% endblock %}

{% block body %}
<br>
<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <div>
            <label><b>{{ form.email.label }}:</b></label>
            {{ form.email }}
        </div>
        <br><button type="submit" class="btn btn-danger btn-sm">Сброс пароля</button>
    </form>
</div>
{% endblock %}

<!--URL: /accounts/password_reset/-->