{% extends 'base.html' %}

<!-- Подключение папки static -->
{% load static %}

{% block title %}
Добавление/Обновление статьи
{% endblock %}

{% block body %}
<div class="container text-center">
    <h2>Добавление/Обновление статьи</h2>
<!--    <br>-->
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>  <!-- Левая пустая часть (3 позиции) -->
        <div class="col-4 text-center">
            <form class="row g-2" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12 mb-1">
                    {{ form.title }}
                </div>
                 <div class="col-12 mb-1">
                    {{ form.anons }}
                </div>
                 <div class="col-12 mb-1">
                    {{ form.summary }}
                </div>
                 <div class="col-12 mb-1">
                    {{ form.date }}
                </div>
                 <div class="col-12 mb-1">
                    {{ form.image }}
                </div>
                <br><button type="submit" class="btn btn-primary">Сохранить данные</button>
                <br><a href="{% url 'articles' %}" class="btn btn-warning">Назад к списку статей</a>
            </form>
        </div>
        <div class="col"></div>  <!-- Правая пустая часть (3 позиции) -->
    </div>
</div>
{% endblock %}