{% extends 'base.html' %}
<!-- Подключение папки static -->
{% load static %}

{% block title %}{{ articles.title }}{% endblock %}

{% block body %}
<!--<br>-->
<div class="container text-left">
     {% if user.is_authenticated %}
        {% if user.get_username == "administrator" %}
        <div class="card mb-1">
          <img src="{% static 'img/artic1.jpg' %}" class="card-img-top">
          <div class="card-body">
            <p class="card-text"><small class="text-body-secondary"><i>Материал опубликован {{ articles.date }}</i></small></p>
            <h4 class="card-text">{{ articles.anons }}</h4>
            <p class="card-text">{{ articles.summary }}</p>

<!--            <p class="card-text"><small class="text-muted"><i>Последнее обновление 3 мин. назад</i></small></p>-->
            <a href="{% url 'articles' %}" class="btn btn-primary btn-sm">Назад</a>
            <a href="{% url 'article_update' articles.id %}" class="btn btn-warning btn-sm">Изменить</a>
            <a href="{% url 'article_delete' articles.id %}" class="btn btn-danger btn-sm">Удалить</a>
          </div>
        </div>
        {% else %}
        <div class="card mb-1">
          <img src="{% static 'img/artic1.jpg' %}" class="card-img-top">
            <h4 class="card-text"></h4><br>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-body-secondary"><i>Дата публикации материала: {{ articles.date }}</i></small></p>
            <a href="{% url 'articles' %}" class="btn btn-primary btn-sm">Назад</a>
          </div>
        </div>
        {% endif %}
     {% endif %}
</div>
{% endblock %}