{% extends "base.html" %}

<!-- Подключение папки static -->
{% load static %}

<!-- Блок Заголовка -->
{% block title %}Соглашение{% endblock %}

<!-- Блок Контента -->
{% block body %}
<div class="container" align="justify">
    <br>
    <h2><b>Пользовательское соглашение</b></h2><br>
    <h3>1. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ САЙТА</h3><br>
        <h5>1.1. Данное пользовательское соглашение (именуемое в дальнейшем Соглашение) представляет собой оферту условий по пользованию веб-сайтом SportingSolution.by (далее – Сайт), в лице Администрации сайта и физическим лицом (в том числе представителями юридических лиц) (именуемым в дальнейшем Пользователь), и регламентирующее условия предоставления Пользователем информации для размещения на Сайте.</h5>
        <h5>1.2. Пользователем Сайта считается любое физическое лицо, когда-либо осуществившее доступ к Сайту, достигшее возраста, допустимого для акцепта настоящего Соглашения.</h5>
        <h5>1.3. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящего Соглашения. В случае несогласия с условиями Соглашения, использование Сайта Пользователем должно быть немедленно прекращено.</h5>
        <h5>1.4. Настоящее Соглашение может быть изменено и/или дополнено Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом.</h5>
        <h5>1.5. Соглашение предусматривает взаимные права и обязанности Пользователя и Администрации Сайта.</h5><br>
    <h3>2. НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</h3><br>
        <h5>2.1. Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.</h5>
        <h5>2.2. Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.</h5>
        <h5>2.3. Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</h5><br>
    <h3>3. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h3><br>
        <h5>3.1. Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.</h5>
        <h5>3.2. Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.</h5><br>
</div>
{% endblock %}